* {
	margin: 0;
	padding: 0;
	font-family: Anonymous Pro;
}

body {
	display: flex;
	background-color: #0e1013;
	color: whitesmoke;
	position: relative;
	min-height: 100vh;
	justify-content: center;
	padding-bottom: 60px;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

main {
	width: 100%;
	max-width: 800px;
	padding: 0 25px;
}

#background {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.04;
	background-image: url('./background.jpg');
	background-size: cover;
	background-position: center;
}

a {
	text-decoration: underline;
	color: slategray;
	font-size: 20px;
}

#togglTheme {
	display: flex;
	justify-content: center;
	margin: 60px 0;
}

#toggleThemeBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 40px;
	background-color: #0e1013;
	border: 1.5px solid slategray;
	color: whitesmoke;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

#toggleThemeBtn:focus {
	outline: none;
	box-shadow: none;
}

#hello {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 30px;
}

#name {
	color: slategray;
	font-size: 40px;
	font-weight: 600;
	white-space: nowrap;
}

#find_me {
	margin-top: 70px;
}

#find_me > div {
	display: flex;
	justify-content: space-evenly;
}

@media (max-width: 480px) {
	#find_me > div {
		display: flex;
		flex-direction: column;
	}
	#find_me > div > a:not(:last-child) {
		margin-bottom: 10px;
	}
}

#projects {
	margin-top: 70px;
}

.center_text {
	text-align: center;
}

.title {
	font-size: 30px;
	font-weight: 500;
	margin: 0 0 50px 0;
}

.project_name {
	margin-bottom: 40px;
	margin-top: 40px;
}

.paragraph {
	font-size: 20px;
	line-height: 2;
}

.projects *:not(:first-child) {
	margin: 40px 0 10px 0;
}
/*
.contact {
	margin: 0 25px;
} */
