* {
	margin: 0;
	padding: 0;
	font-family: Anonymous Pro;
}

body {
	display: flex;
	justify-content: center;
	margin: 200px 0;
}

main {
	width: 100%;
	max-width: 800px;
}

a {
	text-decoration: underline;
	color: #333;
	font-size: 19px;
}

#hello {
	margin-bottom: 40px;
}

#name {
	color: slategray;
	font-size: 40px;
	font-weight: 600;
}

#bio {
	font-size: 18px;
}

#find_me {
	margin-top: 70px;
}

#find_me {
	margin-top: 70px;
}

#projects {
	margin-top: 70px;
}

.center_text {
	text-align: center;
}

.title {
	font-size: 30px;
	margin: 0 0 50px 0;
}

.project_name > a {
	color: slategray;
	font-size: 20px;
	font-weight: 500;
}

.project_name {
	margin-bottom: 40px;
	margin-top: 40px;

}

.project_description {
	font-size: 18px;
}

.projects *:not(:first-child){
	margin: 40px 0 10px 0;
}

.contact {
	margin: 0 25px;
}